:root {
  --selection-color: white;
  --selection-bg: skyblue;
}

h3 {
  font-size: 120%;
  text-decoration: underline;
}

ul.justify-content-center {
  padding-top: 0.5rem;
}
label.btn {
  padding: 0.15rem 1rem;
}
::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

div.col-md-4, div.col-lg {
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
}

body {
    position: relative;
}

div.position-fixed {
    position:fixed;
    padding:0;
    margin:0;
    overflow-y: scroll;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width:17.5%;
    height:80%;
    background: rgba(255, 255, 255, 0.6);
}

.affix {
    padding: 0;
    margin: 0;
    /*overflow-x: scroll;*/
}

li.a.nav-link {
    display: block;
    margin: 5px;
    width: 100%;
}

li.a.nav-link h1, li.a.nav-link h1,h2,h3,h4,h5,h6 {
    margin-top:0px;
    margin-bottom:0px;
}

a.nav-link:active, a.nav-link.active {
    background-color: grey;
}

a.nav-link h1 {
    font-size:120%;
    font-weight: bold;
}

a.nav-link h2 {
    margin-left: 30px;
    text-decoration: underline;
    font-size:110%
}

a.nav-link h3 {
    margin-left: 60px;
    font-size: 100%;
    text-decoration:none;
}

a.nav-link h4 {
    margin-left: 90px;
    font-size: 75%
}

a.nav-link h5 {
    margin-left: 120px;
    font-size: 75%
}

a.nav-link h6 {
    margin-left: 150px;
    font-size: 75%
}
