@font-face {
  font-family: 'urw';
  src: url('urw.woff') format('woff');
}
html#RotWeisseStreifen {
background: repeating-linear-gradient(
  90deg,
  red,
  red 180px,
  white 180px,
  white 360px
);
}
img#bild {
  border-radius: 10px;
  border: 1px solid black;
  background: repeating-radial-gradient(
  red,
  red 20px,
  white 40px,
  white 60px
);
  padding: 10px;
  margin: 5px;
}
canvas#map {
  border-radius: 10px;
  border: 1px solid black;
  background: repeating-radial-gradient(
  red,
  red 20px,
  white 40px,
  white 60px
);
  padding: 10px;
  margin: 5px;
}
div#breit {
    width: 80%;
    padding: 30px;
    list-style: none;
    float: left;
}
table{border-radius: 10px;

  border: 1px solid black;
  font-size:100%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
    background: white;
}
tr{border-radius: 10px;
padding: 10px;
  border: 1px solid black;
  font-size:100%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
    background: red;
}
th{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size:100%;
    font-style: italic;
    font-weight:normal;
    font-family: urw;
    vertical-align:baseline;
}
th#overline {
  font-weight:bold;
}
h1 {
    text-align: center;
    font-size:300%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
    
}
h2 {
    text-align: left;
    font-size:200%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
    
}
h3 {
    text-align: left;
    font-size:125%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
    text-decoration: underline;
    
}
a#text {
    font-size:200%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
}
a#t {
    font-size:125%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
}
u {
    font-size:125%;
    font-style: italic;
    font-family: urw;
    text-decoration: underline;
    vertical-align:baseline;
}
ul#t {
    font-size:125%;
    font-style: italic;
    font-family: urw;
    vertical-align:baseline;
}
  body {
    font: normal 100.01% Helvetica, Arial, sans-serif;
    color: black; background-color: #ff000000;
  }

  div#Rahmen {
    width: 47.1em;
    padding: 0.8em;
    border: 1px solid white;
    background-color: silver;
  }
  * html div#Rahmen {  /* Korrektur fuer IE 5.x */
    width: 48.7em;
    w\idth: 47.1em;
  }
  div#Rahmen div {
    clear: left;
  }
  ul#Navigation {
    margin: 0; padding: 0;
    text-align: center;
  }

  ul#Navigation li {
    list-style: none;
    float: left;
    width: 10.6em;
    position: relative;
    margin: 0.4em; padding: 0;
  }
  * html ul#Navigation li {  /* Korrektur fuer den IE 5 und 6 */
    margin-bottom: -0.4em;
  }
  *:first-child+html ul#Navigation li {  /* Korrektur fuer den IE 7 */
    margin-bottom: -0.1em;
  }

  ul#Navigation li ul {
    margin: 0; padding: 0;
    position: absolute;
    top: 1.7em; left: -0.4em;
  }
  * html ul#Navigation li ul {  /* Korrektur fuer IE 5.x */
    left: -1.5em;
    lef\t: -0.4em;
  }
  ul#Navigation li ul li {
    float: none;
    display: block;
    margin-bottom: 0.2em;
  }

  ul#Navigation a, ul#Navigation span {
    display: block;
    padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    border-left-color: solid black; border-top-color: solid black;
    color: white; background-color: red;
  }
  * html ul#Navigation a, * html ul#Navigation span {  /* nur fuer IE erforderlich */
    width: 100%;
    w\idth: 6.4em;
  }
  a#copyright {
    font-family: sans;
    font-size: 50%;
    color: grey;
  }
  ul#Navigation span, li a#aktuell {
    text-align: center;
    border-color: solid black;
    border-left-color: solid black; border-top-color: solid black;
    color: red; background-color: white;
  }
  ul#Navigation a:hover, li a#aktuell {
    font-size: 100%;
    text-align: center;
    border-color: solid black;
    border-left-color: solid black; border-top-color: solid black;
    color: red; background-color: white;
    transition: all 2s;
  }
  ul#Navigation a:hover , ul#Navigation a:after, li a#aktuell {
    transition: 2s;
    text-align: center;
    border-color: solid black;
    border-left-color: solid black; border-top-color: solid black;
    color: red; background-color: white;
  }
  ul#Navigation a:active {
    border: 1px solid black;
    box-shadow: 0 -2px #666;
    transform: translateY(2px);
    border-color: solid black;
    border-left-color: solid black; border-top-color: solid black;
    color: red; background-color: white;
  }
  ul#Navigation a:active, ul#Navigation a:after {
    border: 1px solid black;
    box-shadow: 0 -2px #666;
    transform: translateY(2px);
    border-color: solid black;
    border-left-color: solid black; border-top-color: solid black;
    color: red; background-color: white;
  }
  li a#aktuell {  /* aktuelle Rubrik kennzeichnen */
    color: white; background-color: white;
  }
  ul#Navigation li ul span {  /* aktuelle Unterseite kennzeichnen */
    background-color: white;
  }
